<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>TODO List</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <h1 id="hello">Hello!</h1>
    <section id="input_button">
        <div id="input_button_wrapper">
            <input id="input" type="text" placeholder="New list">
            <button id="add_btn" type="button">
                Add
            </button>
        </div>
    </section>
</body>
</html>